


<!-- <app-header></app-header>
<app-home></app-home> -->

<!-- <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="header">Header</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="home">Home</a>
        </li>
        
      </ul>
    </div>
  </nav>


  

  <router-outlet></router-outlet> -->

<!-- Login and Register component -->

<!-- 
  <app-register></app-register>
  <app-login></app-login> -->



          <!-- ViewChild component work -->


<!-- 
<div class="mt-2">
  <label>DOB:</label>
  <input type="date" #dobInput/>
</div>
<div class="mt-5">
  <label>Age:</label>
  <input type="text" #ageInput/>
</div> -->


  <!------------------ WORK ON FORM AND VALIDATION ------------------=--->

<!-- <app-reactive></app-reactive> -->


      <!-- WORK ON REACTIVE FORM ARRAY -->

<!-- <app-reactivearray></app-reactivearray> -->



 <nav class="menu">
     <ul>
       <li>
         <a routerLink="/component" routerLinkActive="active">component</a>
       </li>
       <li>
        <a routerLink="/person">person</a>
      </li>
     </ul>
 </nav>

 <div class="container">
   <div class="parent-container">
     <router-outlet></router-outlet>
   </div>
 </div>



<!-- <app-customer></app-customer> -->